/* Box Sizing https://bit.ly/1A91I0J */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-display: optional;
  font-family: 'ReithSans';
  font-style: normal;
  font-weight: 400;
  src: url('https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Rg.woff2')
    format('woff2'), url('https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Rg.woff')
    format('woff');
}

@font-face {
  font-display: optional;
  font-family: 'ReithSerif';
  font-style: normal;
  font-weight: 600;
  src: url('https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Md.woff2')
    format('woff2'), url('https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Md.woff')
    format('woff');
}